{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'website/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'website/styles/fotorama.css' %}" media="screen"/>
{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'website/scripts/libs/fotorama.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
<header>
  <div class="fotorama"
       data-width="100%"
       data-transition="dissolve"
       data-arrows="false"
       data-transitionduration="1000">
    <img src="{% static 'website/img/ss_home_7_7_31.jpg' %}" data-fit="cover"/>
    <img src="{% static 'website/img/ss_home_7_7_32.jpg' %}" data-fit="cover"/>
    <img src="{% static 'website/img/ss_home_7_7_24.jpg' %}" data-fit="cover"/>
    <img src="{% static 'website/img/ss_home_7_7_25.jpg' %}" data-fit="cover"/>
  </div>
  <div class="logo">
    <h1 class="fg-white text-center">小麻袋</h1>
  </div>
</header>
<nav class="bg-white shadow-bottom">
  <div class="nav-box fixed-width margin-0-center">
    <a class="text-center" href="#"><p class="margin-0">首页</p></a>
    <a class="text-center" href="#"><p class="margin-0">酒店详情</p></a>
    <a class="text-center" href="#"><p class="margin-0">酒店详情</p></a>
    <a class="text-center" href="#"><p class="margin-0">酒店详情</p></a>
    <a class="text-center" href="#"><p class="margin-0">酒店详情</p></a>
  </div>
</nav>
<section class="bg-1">
  <article>
    <h2 class="fg-white" style="margin-left: 10px;">限时热销</h2>
    <div class="product-group">
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="bg-2">
  <article>
    <h2 class="fg-white" style="margin-left: 10px;">限时热销</h2>
    <div class="product-group">
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="bg-3">
  <article>
    <h2 class="fg-white" style="margin-left: 10px;">限时热销</h2>
    <div class="product-group">
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
      <div class="product place-left">
        <img src="{% static 'website/img/cms_11_989_bundle.jpg' %}" />
        <div class="product-title">
          <h4>普吉岛贝尔泳池别墅度假酒店</h4>
          <p>泰国，普吉岛</p>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock main_content %}

{% block extrajs %}

{% endblock extrajs %}
