{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'website/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'website/styles/fotorama.css' %}" media="screen"/>
{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'website/scripts/libs/fotorama.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-calendar.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-datepicker.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
  {% include 'website/header.inc.html' %}
  <section class="bg-color-gray">
    <div class="bottom-shade-large"></div>
    <article>
      <div class="ladding-img place-left">
        <h1 class="fg-white">欢迎回到<br/>小麻袋</h1>
      </div>
      <div class="signup-form place-left bg-white">
        <form action="" method="post" >{% csrf_token %}
          <fieldset>
            <label for="" class="title">小麻袋登陆 <a href="#" class="place-right fg-color-pink">还不是会员？</a></label>
            <div class="input-control text" data-role="input-control">
              <input type="text" placeholder="用户名">
            </div>
            <div class="input-control text" data-role="input-control">
              <input type="password" placeholder="密码">
            </div>
            <label for="" class="forget-password"><a href="#" class="text-muted">忘记您的密码？</a></label>
            <button type="submit" class="ribbon place-right oblique bg-color-pink">
              <span class="fg-white">登陆</span>
            </button>
          </fieldset>
        </form>
      </div>
      <div class="clearfix"></div>
    </article>
  </section>
{% endblock main_content %}