{% load staticfiles %}
{% load compress %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" -->
    <meta name="viewport" content="width=1024">

    {% compress css %}
    <!-- Basic Styles -->
    <!-- metro -->
    <link rel="stylesheet" href="{% static 'website/styles/metro-bootstrap.css' %}" media="screen"/>
    <!-- customize -->
    <link rel="stylesheet" href="{% static 'website/styles/project.css' %}" media="screen"/>
      <!-- PAGE RELATED CSS -->
      {% block extracss %}{% endblock extracss %}
    {% endcompress %}

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  {% compress js %}
    <!-- jquery -->
    <script src="{% static 'libs/ueditor1_3_6/third-party/jquery-1.10.2.min.js' %}"></script>

    <!-- jquery ui -->
    <script src="{% static 'website/scripts/libs/jquery-ui-1.10.3.min.js' %}"></script>

    <!-- metro js -->
    <script src="{% static 'website/scripts/libs/metro.min.js' %}"></script>
    <script src="{% static 'website/scripts/libs/metro-locale.js' %}"></script>

    <!-- JQUERY VALIDATE -->
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.zh-CN.js' %}"></script>

    <!-- JQUERY FORM -->
    <script type="text/javascript" src="{% static 'website/scripts/plugin/jquery-form/jquery-form.min.js' %}"></script>
    <!-- PAGE RELATED js -->
    {% block extraincjs %}{% endblock extraincjs %}
  {% endcompress %}
  </head>
  <body class="metro">
    {% block main_content %}{% endblock main_content %}
    <nav class="bg-white menu">
      <div class="foot-box margin-0-center fixed-width">
        <div class="grid fluid" style="margin-bottom: 20px !important;">
          <div class="row" style="margin-top: 20px !important; ">
            <div class="span6 text-right" style="padding-right: 50px; margin: 0;">
              <img src="{% static 'website/img/social_wechat.png' %}" style="display: inline-block; margin-right: 15px;"/>
              <img src="{% static 'website/img/qrcode.png' %}" style="display: inline-block"/>
            </div>
            <div class="span6" style="padding-left: 50px; margin: 0; border-left: 1px solid #999999;">
              <p class="fg-orange" style="color: #3f3f3f;"><b>关于我们：</b></p>
              <p style="color: #3f3f3f;">小麻袋官方网站</p>
              <p style="color: #3f3f3f;">客服热线：028-65290911</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Baidu Analytics Code -->
    {% include "website/ba.html" %}
    <!-- GOOGLE ANALYTICS CODE -->
    {% include "website/ga.html" %}
  </body>
  {% block extrajs %}{% endblock extrajs %}
</html>