{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" -->
    <meta name="viewport" content="width=1024">

    <!-- Basic Styles -->
    <!-- metro -->
    <link rel="stylesheet" href="{% static 'website/styles/metro-bootstrap.css' %}" media="screen"/>
    <!-- customize -->
    <link rel="stylesheet" href="{% static 'website/styles/project.css' %}" media="screen"/>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- PAGE RELATED CSS -->
    {% block extracss %}{% endblock extracss %}

    <!-- jquery -->
    <script src="{% static 'website/scripts/libs/jquery-2.0.2.min.js' %}"></script>

    <!-- jquery ui -->
    <script src="{% static 'website/scripts/libs/jquery-ui-1.10.3.min.js' %}"></script>

    <!-- metro js -->
    <script src="{% static 'website/scripts/libs/metro.min.js' %}"></script>
    <script src="{% static 'website/scripts/libs/metro-locale.js' %}"></script>

    <!-- JQUERY VALIDATE -->
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.zh-CN.js' %}"></script>

    <!-- JQUERY FORM -->
    <script type="text/javascript" src="{% static 'website/scripts/plugin/jquery-form/jquery-form.min.js' %}"></script>
    <!-- PAGE RELATED js -->
    {% block extraincjs %}{% endblock extraincjs %}
  </head>
  <body class="metro">
    {% block main_content %}{% endblock main_content %}
    <nav class="bg-white menu">
      <div class="foot-box margin-0-center fixed-width">
        <a class="text-center" href="#"><p class="margin-0">联系我们</p></a>
        <a class="text-center" href="#"><p class="margin-0">联系我们</p></a>
        <a class="text-center" href="#"><p class="margin-0">联系我们</p></a>
        <a class="text-center" href="#"><p class="margin-0">联系我们</p></a>
      </div>
    </nav>
    <!-- GOOGLE ANALYTICS CODE -->
    {% include "website/ga.html" %}
  </body>
  {% block extrajs %}{% endblock extrajs %}
</html>