{% load staticfiles %}
{% load compress %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" -->
    <meta name="viewport" content="width=1024">

    {% compress css %}
    <!-- Basic Styles -->
    <!-- metro -->
    <link rel="stylesheet" href="{% static 'website/styles/metro-bootstrap.css' %}" media="screen"/>
    <!-- customize -->
    <link rel="stylesheet" href="{% static 'website/styles/project.css' %}" media="screen"/>
      <!-- PAGE RELATED CSS -->
      {% block extracss %}{% endblock extracss %}
    {% endcompress %}

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  {% compress js %}
    <!-- jquery -->
    <script src="{% static 'libs/ueditor1_3_6/third-party/jquery-1.10.2.min.js' %}"></script>

    <!-- jquery ui -->
    <script src="{% static 'website/scripts/libs/jquery-ui-1.10.3.min.js' %}"></script>

    <!-- metro js -->
    <script src="{% static 'website/scripts/libs/metro.min.js' %}"></script>
    <script src="{% static 'website/scripts/libs/metro-locale.js' %}"></script>

    <!-- JQUERY VALIDATE -->
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'website/scripts/plugin/jquery-validate/jquery.validate.zh-CN.js' %}"></script>

    <!-- JQUERY FORM -->
    <script type="text/javascript" src="{% static 'website/scripts/plugin/jquery-form/jquery-form.min.js' %}"></script>
    <!-- PAGE RELATED js -->
    {% block extraincjs %}{% endblock extraincjs %}
  {% endcompress %}
  </head>
  <body class="metro">
    {% block main_content %}{% endblock main_content %}
    <nav class="bg-white index">
      <div class="foot-box margin-0-center fixed-width">
        <div class="grid fluid" style="margin-bottom: 20px !important;">
          <div class="row" style="margin-top: 20px !important; ">
            <div class="span4" style="padding-right: 30px; margin: 0; border-right: 1px solid #999999;">
              <div class="grid flud">
                <div class="row">
                  <div class="span3" style="text-align: right; height: 100px; padding-top: 40px;"><img src="{% static 'website/img/social_sina.png' %}" style="display: inline-block; margin-top: -3px;"/></div>
                  <div class="span5" style="height: 100px; padding-top: 40px;"><span style="color: #3f3f3f"><a class="weibo-link" style="color: #3f3f3f;" href="http://weibo.com/xiaomadaicn" target="_blank">小麻袋Maldives</a></span></div>
                  <div class="span4"><img src="{% static 'website/img/weibo_qrcode.png' %}" style="display: inline-block; width: 100px; height: 100px;"/></div>
                </div>
                <div class="row" style="margin-top: 40px;">
                  <div class="span3" style="text-align: right; height: 100px; padding-top: 40px;"><img src="{% static 'website/img/social_wechat.png' %}" style="display: inline-block; margin-top: -3px;"/></div>
                  <div class="span5" style="height: 100px; padding-top: 40px;"><span style="color: #3f3f3f">马尔代夫的小麻袋</span></div>
                  <div class="span4"><img src="{% static 'website/img/weichat_qrcode.jpg' %}" style="display: inline-block; width: 100px; height: 100px;"/></div>
                </div>
              </div>
            </div>
            <div class="span8" style="padding-left: 30px; margin: 0;">
              <p class="fg-orange" style="color: #3f3f3f; margin: 20px 0 20px 0;"><b>关于我们：</b></p>
              <p style="color: #3f3f3f;">小麻袋游马代，带你飞向心中的那一抹蓝。简单三步，携手定制，拥抱专属的极致浪漫！</p>
              <p class="fg-orange" style="color: #3f3f3f; margin: 20px 0 20px 0;"><b>联系方式：</b></p>
              <p style="color: #3f3f3f;">地址：成都市高新区天晖路360号晶科一号1813室（地铁1号线高新站C出口向南500米）</p>
              <p style="color: #3f3f3f;">电话：028-89992896</p>
              <p style="color: #3f3f3f;">企鹅：1473655783</p>
            </div>
          </div>
          <div class="row" style="margin: 20px 0 0 -10px !important;">
            <div class="span12" style="text-align: center">
              <p style="color: #3f3f3f;">蜀ICP备14012604号</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Baidu Analytics Code -->
    {% include "website/ba.html" %}
    <!-- GOOGLE ANALYTICS CODE -->
    {% include "website/ga.html" %}
  </body>
  {% block extrajs %}{% endblock extrajs %}
</html>