{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} {{ note.title }} {% endblock title %}


{% block extracss %}
    <link rel="stylesheet" href="{% static 'share/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
  {% include 'website/header.inc.html' %}
  <div class="main-section bg-color-dark bg-pattern-diag travel-header">
    <div class="bottom-shade-large"></div>
    <div class="main-article">
      <div class="bg-image-white-light"></div>
      <h2 class="fg-white title">{{ note.title }}</h2>
    </div>
  </div>
  <div class="main-section bg-image-clouds travel-body">
    <div class="main-article content bg-white">
      <div class="grid fluid">
        <div class="row">
          <div class="span11"><img class="cycle" src="{{ note.image_url }}" style="width: 50px; height: 50px; display: inline-block; margin-right: 20px;" /><p class="fg-grayLight inline-block">{{ note.fake_user }}</p></div>
          <div class="span1"><p class="fg-grayLight inline-block">{{ note.updated|date:'Y/m/d' }}</p></div>
        </div>
      </div>
      <div class="content-body"></div>
    </div>
  </div>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.travel-body .content-body').load('{{ note.content_url }}');
    });
  </script>
{% endblock extrajs %}
