{% extends 'customer/website/customer.base.html' %}
{% load static %}

{% block customer_main_content %}
<!-- row -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 profile">

    <div class="profile-header">
      <div class="row">
        <div class="col-md-2 center-box"><a href="{% url 'website:customer:customer_profile' %}">基本信息</a></div>
        <div class="active col-md-2 center-box"><a href="{% url 'website:customer:customer_change_password' %}">账号安全</a></div>
      </div>
    </div>

    <form id="id-change-password-form" action="{% url 'website:customer:customer_change_password' %}"
        method="post" class="form-horizontal form-margin">{% csrf_token %}
      {% if saved == 'true' %}
        <div class="form-group">
          <div class="col-sm-2 control-label"><div class="icon_done pull-right"></div></div>
          <div class="col-sm-5">
            <label class="control-label">已设置</label>
          </div>
        </div>
      {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label fg-light-gray">当前登录密码</label>
        <div class="col-sm-5">
          {{ form.old_password }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label fg-light-gray">新密码</label>
        <div class="col-sm-5">
          {{ form.password1 }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label fg-light-gray">确认新密码</label>
        <div class="col-sm-5">
          {{ form.password2 }}
        </div>
      </div>
      <div class="dashed-line"></div>
      <input type="submit" class="btn btn_blue_large pull-right fg-white" value="保存" />
    </form>
  </div>
</div>
{% endblock customer_main_content %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      $( '#id-change-password-form').validate();
      {% include 'website/form.errors.inc.html' with form_id='id-change-password-form' %}
    });
  </script>
{% endblock extrajs %}