/* present */

article {
  padding: 90px 0;
  margin: 0 auto;
  width: 1020px;
}

.product-group {
    height: 1200px;
    width: 1020px;
}

.product {
    margin: 0 10px 50px;

}

.product > img {
    width: 320px;
    height: 240px;
    display: block;
}

.product > .product-title {
    background-color: #FFFFFF;
    width: 320px;
    height: 110px;
    padding: 20px;
    transition: all 0.1s ease-in-out 0s;
}

.product:hover > .product-title {
    background-color: #df633a;
}

.product > .product-title > h4 {
    margin-top: 0;
    font-size: 16px;
}

.product:hover > .product-title > h4,
.product:hover > .product-title > p {
    color: #FFFFFF;
}

.category-title {
    margin: 0 0 25px 10px !important;
    display: inline-block;
    font-size: 3.0rem !important;
}

.category-showmore {
    margin: 15px 10px 0 0 !important;
    display: inline-block;
    text-align: right;
    transition: all 0.1s ease-in-out 0s;
    color: #FFFFFF !important;
    font-size: 1.8rem;
}

.category-showmore:hover {
    color: #df633a !important;
}