/* present */

.main-article {
  margin: 0 auto;
  width: 1020px;
}

.bg-color-dark {
    background-color: #262F36;
}

.product-group {
    height: 1200px;
    width: 1020px;
}

.product {
    margin: 0 10px 50px;
}

.product > img {
    width: 320px;
    height: 240px;
    display: block;
}

.product > .product-title-complex {
    background-color: #FFFFFF;
    width: 320px;
    height: 110px;
    transition: all 0.1s ease-in-out 0s;
}

.product:hover > .product-title-complex {
    background-color: #df633a;
}

.product > .product-title-complex h4 {
    margin-top: 0 !important;
    font-size: 16px;
    color: #3f3f3f;
}

.product > .product-title-complex p.price-fg-lime {
    color: #a4c400;
}

.product:hover > .product-title-complex h4,
.product:hover > .product-title-complex p {
    color: #FFFFFF;
}

.category-title {
    margin: 0 0 25px 10px !important;
    display: inline-block;
    font-size: 28px !important;
}

.category-showmore {
    margin: 15px 10px 0 0 !important;
    display: inline-block;
    text-align: right;
    transition: all 0.1s ease-in-out 0s;
    color: #FFFFFF !important;
    font-size: 1.8rem;
}

.category-showmore:hover {
    color: #df633a !important;
}

.travel-header .title {
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.travel-body {
    padding: 50px 0;
}

.travel-body .content {
    padding: 50px;
}