{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'hotel/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'website/styles/fotorama.css' %}" media="screen"/>

{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'website/scripts/libs/fotorama.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-calendar.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-datepicker.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-scroll.js' %}"></script>
<script src="{% static 'website/scripts/libs/jquery.mousewheel.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-tab-control.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-color-dark bg-pattern-diag">
  <div class="bottom-shade-large"></div>
    <div class="main-article search-info">
      <div class="bg-image-white-light"></div>
      <div class="grid fluid">
        <div class="row">
          <div class="span6 hotel-name">
            <h2 class="fg-white">{{ hotel.name }}<div class="customer-icon hotel-line"></div></h2>
            <p class="color-blue">{{ hotel.address }}</p>
          </div>
{#            <div class="span6 price">#}
{#              <span class="currency place-right">#}
{#                <strong class="fg-white">&yen; {{ hotel.get_pretty_price }}</strong>#}
{#                <small class="fg-white">/晚</small>#}
{#              </span>#}
{#            </div>#}
        </div>
      </div>
    </div>
</div>
<div class="main-section bg-2">
  <div class="main-article photo-group">
    <div class="grid fluid">
      <div class="row">
        <div class="span8">
          <div class="fotorama"
               data-autoplay="3000"
               data-width="660"
               data-height="370"
               data-arrows="false"
               data-transitionduration="1000"
               data-nav="thumbs"
               data-thumbwidth="94"
               data-thumbheight="62"
               data-thumbmargin="18"
               data-thumbborderwidth="3"
               >
            {% for image in hotel.images.all %}
              <img src="{{ image.image_url }}" data-fit="cover"/>
            {% endfor %}
          </div>
        </div>
        <div class="span4">
          <div class="scroll-group bg-color-orange">
            <div class="ribbon place-right bg-white oblique">
              <span class="fg-color-orange"><i class="icon-tag on-left-more"></i>推荐理由</span>
            </div>
            <div class="scroll-box"
                 data-role="scrollbox"
                 data-scroll="vertical"
                 data-height="250"
                 data-scrollbardisplay="false"
                 data-enablemousewheel="false"
                 data-wheel="30"
                 >
              <ul class="unstyled">
                {% for item in hotel.get_advantages %}
                    <li><p>{{ item }}</p></li>
                {% endfor %}
              </ul>
            </div>
            <div class="action-btn-group">
              <div class="text-center up"><i class="icon-arrow-up-4 fg-color-orange"></i></div>
              <div class="text-center down"><i class="icon-arrow-down-4 fg-color-orange"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-section bg-image-clouds">
  <div class="main-article">
    <div class="tab-control">
        <ul class="tabs bg-gr-orange">
        {% for info in info_type_list %}
            {% if forloop.first %}
              <li class="active"><a href="#_page_{{ forloop.counter }}" class="bg-gr-orange">{{ info.name }}</a></li>
            {% else%}
              <li><a href="#_page_{{ forloop.counter }}" class="bg-gr-orange">{{ info.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
      <div class="frames">
        {% for article in articles %}
          <div class="frame" id="_page_{{ forloop.counter }}" data-url="{{ article.content_url }}"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block extrajs %}
<script>
  $(document).ready(function () {
    $('.scroll-group .up').click(function() {
      $('.scroll-group .scrollbar-v-up').trigger('click');
    });
    $('.scroll-group .down').click(function() {
      $('.scroll-group .scrollbar-v-down').trigger('click');
    });

    loadArticle($('.frame').first());
    $('.tab-control').tabcontrol().bind("change", function(event, frame){
      loadArticle($(frame));
    });
  });

  function loadArticle($frame) {
    if (!$frame.html()) {
      url = $frame.data('url');
      $frame.load(url);
    }
  }
</script>
{% endblock extrajs %}