{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'hotel/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'libs/chosen_v1.1.0/chosen.min.css' %}" />
{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'libs/chosen_v1.1.0/chosen.jquery.min.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<section class="bg-1 bg-image-white-light">
  <div class="bottom-shade-large"></div>
  <article class="list-group">
    <div class="filtering">
      <div class="input-control select" style="height: 40px; width: 130px; float: right;">
        <select id="atoz" data-placeholder="按字母过滤" class="alt-select">
          <option value="all" {% if filter == 'all' %}selected="true"{% endif %}>所有酒店</option>
          {% for f in first_letters %}
            <option value="{{ f.short_index }}" {% if filter == f.short_index %}selected="true"{% endif %}>{{ f.short_index }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="grid list">
      {% for hotel in hotels %}
        <div class="row cursor-pointer">
          <a href="{% url 'website:hotel:hotel_detail' hotel.id %}">
            <div class="span4">
              <img src="{{ hotel.image_url }}" style="width: 320px; height: 205px;"/>
            </div>
            <div class="span8">
              <h2 class="fg-grayDark">{{ hotel.name }}</h2>
              {% if promotion %}
                <div class="promotion-article">
                {% autoescape off %}
                  {% for article in hotel.articles.all %}
                    {% if article.info_type.id == 6 %}
                      {{ article.content_html }}
                    {% endif %}
                  {% endfor %}
                {% endautoescape %}
                </div>
                <span class="currency"><strong>{{ hotel.get_pretty_price }}</strong><small class="fg-grayDark">/晚</small></span>
              {% else %}
                <p class="hotel-summary fg-grayLight">{{ hotel.summary }}</p>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="paging">
      <div style="float: right;">
        <a href="#" class="page_link" data-page="{{ prev_page }}"><i class="icon-arrow-left-5"></i></a>
        {% for page_index in page_range %}
          <a href="#" class="page_link {% if page_index == page%}active{% endif %}" data-page="{{ page_index }}">{{ page_index }}</a>
        {% endfor %}
        <a href="#" class="page_link" data-page="{{ next_page }}"><i class="icon-arrow-right-5"></i></a>
      </div>
    </div>
  </article>
</section>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      var chosenOptions = {
        disable_search: true,
        inherit_select_classes: true
      }
      $('#atoz').chosen(chosenOptions);

      $('#atoz').change(function () {
        pageAndFilter(1, $(this).val());
      })

      $('.page_link').click(function () {
        var thisPage = parseInt('{{ page }}');
        var toPage = $(this).data('page');
        if (toPage != thisPage) {
          pageAndFilter(toPage, $('#atoz').val());
        }
        return false;
      });
    });

    function pageAndFilter(page, filter) {
      var endpoint = {% if promotion %}'{% url 'website:hotel:hotel_list_promotion' %}'{% else %}'{% url 'website:hotel:hotel_list'%}'{% endif %}
      window.location.href = endpoint + '?page=' + page + '&filter=' + filter;
    }
  </script>
{% endblock extrajs %}