{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'hotel/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'libs/chosen_v1.1.0/chosen.min.css' %}" />
{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'libs/chosen_v1.1.0/chosen.jquery.min.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-image-clouds" style="background-color: #d3e9f6;">
  <div class="bottom-shade-large"></div>
  <div class="main-article">
    {% if promotion %}
      <h2 class="fg-color-orange category-title">最新促销</h2>
    {% else %}
      <h2 class="fg-color-orange category-title">所有酒店</h2>
    {% endif %}
    <div class="filtering">
      <a class="block {% if filter == 'all' %}active{% endif %}" data-val="all" href="#">酒店检索</a>
    </div>
    <div class="grid list">
      {% for hotel in hotels %}
        <div class="row cursor-pointer">
          <a href="{% url 'website:hotel:hotel_detail' hotel.id %}">
            <div class="span4">
              <img src="{{ hotel.image_url }}" style="width: 320px; height: 205px;"/>
            </div>
            <div class="span8" style="position: relative; height: 205px; width: 650px !important;">
              <h2 style="display: inline-block; font-size: 28px; margin: 25px 0 10px; color: #0896FF;">{{ hotel.name }}</h2>
              <span class="currency"><strong>{{ hotel.price }}</strong><small class="fg-grayDark"></small></span>
              {% if promotion %}
                <div class="promotion-article">
                {% autoescape off %}
                  {% for article in hotel.articles.all %}
                    {% if article.info_type.id == 6 %}
                      {{ article.content_html }}
                    {% endif %}
                  {% endfor %}
                {% endautoescape %}
                </div>
              {% else %}
                <p class="hotel-summary fg-grayLight" style="margin: 0;"><span class="icon-location on-left"></span>{{ hotel.address }}</p>
                <p class="hotel-summary fg-gray">{{ hotel.summary }}</p>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="paging">
      <div style="float: right;">
        <a href="#" class="page_link" data-page="{{ prev_page }}"><i class="icon-arrow-left-5"></i></a>
        {% for page_index in page_range %}
          <a href="#" class="page_link {% if page_index == page%}active{% endif %}" data-page="{{ page_index }}">{{ page_index }}</a>
        {% endfor %}
        <a href="#" class="page_link" data-page="{{ next_page }}"><i class="icon-arrow-right-5"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      var chosenOptions = {
        disable_search: true,
        inherit_select_classes: true
      }

      var last_filter = '{{ filter }}';

      for (var i = 65; i < 91; i++) {
        var c = String.fromCharCode(i);
        if (last_filter === c) {
          $('.filtering').append('<a class="block active" data-val="' + c + '" href="#">' + c + '</a>')
        } else {
          $('.filtering').append('<a class="block" data-val="' + c + '" href="#">' + c + '</a>')
        }
      }

      $('.page_link').click(function () {
        var thisPage = parseInt('{{ page }}');
        var toPage = $(this).data('page');
        if (toPage != thisPage) {
          pageAndFilter(toPage, $('.filtering > .block').data('val'));
        }
        return false;
      });

      $('.filtering > .block').click(function () {
        pageAndFilter(1, $(this).data('val'));
        return false;
      })
      String.fromCharCode();
    });

    function pageAndFilter(page, filter) {
      var endpoint = {% if promotion %}'{% url 'website:hotel:hotel_list_promotion' %}'{% else %}'{% url 'website:hotel:hotel_list'%}'{% endif %}
      window.location.href = endpoint + '?page=' + page + '&filter=' + filter;
    }
  </script>
{% endblock extrajs %}