/* home */

header > .logo {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

article {
  padding: 90px 0 100px;
  margin: 0 auto;
  width: 1020px;
}

article .product {
  height: 350px;
  width: 320px;
  margin: 0 10px;
  display: block;
}

.fotorama__nav-wrap {
  position: absolute;
  z-index: 1;
  bottom: 2%;
}

.fotorama__dot {
  border: 0 none !important;
  background-color: #FFF;
  height: 12px !important;
  width: 12px !important;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  height: 12px !important;
  width: 12px !important;
}

.product-group {
    width: 1020px;
    height: 350px;
}

.product > img {
    width: 320px;
    height: 240px;
    display: block;
}

.product > .product-title {
    background-color: #FFFFFF;
    width: 320px;
    height: 110px;
    padding: 20px;
    transition: all 0.1s ease-in-out 0s;
}

.product:hover > .product-title {
    background-color: #df633a;
}

.product > .product-title > h4 {
    margin-top: 0;
    font-size: 16px;
}

.product:hover > .product-title > h4,
.product:hover > .product-title > p {
    color: #FFFFFF;
}

.product > .product-title > .customer-icon {
    position: relative;
    top: -10px;
    left: 250px;
}

.product:hover > .product-title > .customer-icon.hotel-flat {
    background: url("../img/icons/hotel_flat_orange_hover.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

.product:hover > .product-title > .customer-icon.flight-flat {
    background: url("../img/icons/flight_flat_orange_hover.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

.category-title {
    margin: 0 0 25px 10px !important;
    display: inline-block;
    font-size: 3.0rem !important;
}

.category-showmore {
    margin: 15px 10px 0 0 !important;
    display: inline-block;
    text-align: right;
    transition: all 0.1s ease-in-out 0s;
    color: #FFFFFF !important;
    font-size: 1.8rem;
}

.category-showmore:hover {
    color: #df633a !important;
}

header > .date-pick {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
}

header a.search-btn {
  position: absolute;
  top: 20px;
  left: 80%;
  font-size: 2.0rem;
  display: block;
  color: #FFF !important;
  background-color: #df633a !important;
}

header > .date-pick .input-control {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 40px !important;
}

header > .date-pick input,
header > .date-pick select {
    font-size: 12pt;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

header > .date-pick select {
    height: 100%;
    padding: 8px !important;
}

header > .date-pick button {
    top: 9px !important;
}

header > .date-pick button:after {
    font-size: 12pt !important;
}

header > .date-pick i.icon-dollar,
header > .date-pick i.icon-location {
    font-size: 12pt !important;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    left: 6px;
    top: 12px;
}

header > .date-pick .span4 {
    width: 200px !important;
}

header > .date-pick input.padding,
header > .date-pick select.padding {
    padding-left: 30px !important;
}

header > .account {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

header > .account p,
header > .account a {
    color: #FFFFFF;
}

header > .account p {
    font-size: 1.8rem;
}

.bg-color-gray {
    background-color: #ECECEC;
}

.signup-form {
    height: 420px;
    width: 395px;
    padding: 20px 50px 50px;
    position: relative;
}

.ladding-img {
    position: relative;
    width: 625px;
    height: 420px;
}

.ladding-img:after {
    content: "";
    background-image: url("../img/bg-image-clouds.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.ladding-img h1 {
    margin: 100px 0 0 100px;
    font-weight: 100;
    position: relative;
    z-index: 1;
}

.signup-form .ribbon {
    padding: 10px 30px;
    /*line-height: 44px;*/
    top: 330px;
    right: 50px;
    position: absolute;
    line-height: 23px;
    border: none;
}

.signup-form .ribbon span {
    font-size: 1.8rem;
}

.signup-form .ribbon span i {
    font-size: 2.0rem;
}

.signup-form .oblique:before {
    border-style: solid;
    content: " ";
    border-color: rgba(0, 0, 0, 0) #AF5576 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0 18px 46px 0;
    left: -18px;
    position: absolute;
    top: 0;
    width: 0;
}

.fg-color-pink {
    color: #AF5576 !important;
}

.bg-color-pink {
    background-color: #AF5576 !important;
}

.signup-form input {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    background: none repeat scroll 0 0 #EAEAEA;
}

.signup-form .input-control {
    margin: 0 0 24px 0 !important;
    height: 42px !important;
    display: block !important;
}

.signup-form label.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-form label.forget-password {
    font-size: 1.45rem;
    font-weight: 600;
    margin-top: 100px;
}

.signup-dialog {
    width: 1020px;
}

.signup-form .invalid {
    color: #e51400;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    width: 1020px;
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    width: 340px;
    float: left;
}

.jcarousel-control-prev {
    position: relative;
    top: -190px;
    left: -41px;
    z-index: 1;
    cursor: pointer;
    font-size: 4.8rem !important;
    color: #df633a !important;
}

.jcarousel-control-next {
    position: relative;
    top: -190px;
    left: 968px;
    z-index: 1;
    cursor: pointer;
    font-size: 4.8rem !important;
    color: #df633a !important;
}
