/* home */

header > .logo {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

article {
  padding: 90px 0 100px;
  margin: 0 auto;
  width: 1020px;
}

article .product {
  height: 350px;
  width: 320px;
  margin: 0 10px;
}

.fotorama__nav-wrap {
  position: absolute;
  z-index: 1;
  bottom: 2%;
}

.fotorama__dot {
  border: 0 none !important;
  background-color: #FFF;
  height: 12px !important;
  width: 12px !important;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  height: 12px !important;
  width: 12px !important;
}

.product-group {
    width: 1020px;
    height: 350px;
}

.product > img {
    width: 320px;
    height: 240px;
    display: block;
}

.product > .product-title {
    background-color: #FFFFFF;
    width: 320px;
    height: 110px;
    padding: 20px;
    transition: all 0.1s ease-in-out 0s;
}

.product:hover > .product-title {
    background-color: #CB5977;
}

.product > .product-title > h4 {
    margin-top: 0;
    font-size: 16px;
}

.product:hover > .product-title > h4,
.product:hover > .product-title > p {
    color: #FFFFFF;
}

.category-title {
    margin: 0 0 25px 10px !important;
    display: inline-block;
    font-size: 3.0rem !important;
}

.category-showmore {
    margin: 15px 10px 0 0 !important;
    display: inline-block;
    text-align: right;
    transition: all 0.1s ease-in-out 0s;
    color: #FFFFFF !important;
    font-size: 1.8rem;
}

.category-showmore:hover {
    color: #CB5977 !important;
}

header > .date-pick {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
}

header > .date-pick > div {
    width: 640px;
}

header > .date-pick .input-control {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 40px !important;
}

header > .date-pick input {
    font-size: 12pt;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

header > .date-pick button {
    top: 9px !important;
}

header > .date-pick button:after {
    font-size: 12pt !important;
}

header > .date-pick i.icon-location {
    font-size: 12pt !important;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    left: 6px;
    top: 12px;
}

header > .date-pick .span4 {
    width: 200px !important;
}

header > .date-pick input.location {
    padding-left: 30px !important;
}

header > .account {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

header > .account p,
header > .account a {
    color: #FFFFFF;
}

header > .account p {
    font-size: 1.8rem;
}

.bg-color-gray {
    background-color: #ECECEC;
}

.signup-form {
    height: 420px;
    width: 395px;
    padding: 100px 50px;
    position: relative;
}

.ladding-img {
    position: relative;
    width: 625px;
    height: 420px;
}

.ladding-img:after {
    content: "";
    background-image: url("../img/bg-image-clouds.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.ladding-img h1 {
    margin: 100px 0 0 100px;
    font-weight: 100;
    position: relative;
    z-index: 1;
}

.signup-form .ribbon {
    padding: 10px 30px;
    /*line-height: 44px;*/
    top: 330px;
    right: -25px;
    position: absolute;
    line-height: 23px;
    border: none;
}

.signup-form .ribbon span {
    font-size: 1.8rem;
}

.signup-form .ribbon span i {
    font-size: 2.0rem;
}

.signup-form .oblique:before {
    border-style: solid;
    content: " ";
    border-color: rgba(0, 0, 0, 0) #AF5576 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0 18px 46px 0;
    left: -18px;
    position: absolute;
    top: 0;
    width: 0;
}

.fg-color-pink {
    color: #AF5576 !important;
}

.bg-color-pink {
    background-color: #AF5576 !important;
}

.signup-form input {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    background: none repeat scroll 0 0 #EAEAEA;
}

.signup-form .input-control {
    margin: 0 0 10px 0 !important;
    height: 42px !important;
    display: block !important;
}

.signup-form label.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-form label.forget-password {
    font-size: 1.45rem;
    font-weight: 600;
    margin-top: 100px;
}