/* home */

header > .logo {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

article {
  padding: 90px 0 100px;
  margin: 0 auto;
  width: 1020px;
}

article .product {
  height: 350px;
  width: 320px;
  margin: 0 10px;
}

.fotorama__nav-wrap {
  position: absolute;
  z-index: 1;
  bottom: 2%;
}

.fotorama__dot {
  border: 0 none !important;
  background-color: #FFF;
  height: 12px !important;
  width: 12px !important;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  height: 12px !important;
  width: 12px !important;
}

.product-group {
    width: 1020px;
    height: 350px;
}

.product > img {
    width: 320px;
    height: 240px;
    display: block;
}

.product > .product-title {
    background-color: #FFFFFF;
    width: 320px;
    height: 110px;
    padding: 20px;
    transition: all 0.1s ease-in-out 0s;
}

.product:hover > .product-title {
    background-color: #CB5977;
}

.product > .product-title > h4 {
    margin-top: 0;
    font-size: 16px;
}

.product:hover > .product-title > h4,
.product:hover > .product-title > p {
    color: #FFFFFF;
}

.category-title {
    margin: 0 0 25px 10px !important;
    display: inline-block;
    font-size: 3.0rem !important;
}

.category-showmore {
    margin: 15px 10px 0 0 !important;
    display: inline-block;
    text-align: right;
    transition: all 0.1s ease-in-out 0s;
    color: #FFFFFF !important;
    font-size: 1.8rem;
}

.category-showmore:hover {
    color: #CB5977 !important;
}

header > .date-pick {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
}

header > .date-pick > div {
    width: 640px;
}

header > .date-pick .input-control {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 40px !important;
}

header > .date-pick input {
    font-size: 12pt;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

header > .date-pick button {
    top: 9px !important;
}

header > .date-pick button:after {
    font-size: 12pt !important;
}

header > .date-pick i.icon-location {
    font-size: 12pt !important;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    left: 6px;
    top: 12px;
}

.metro .calendar .today a {
    background-color: #CB5977 !important;
    color: #FFFFFF !important;
}

header > .date-pick .span4 {
    width: 200px !important;
}

header > .date-pick input.location {
    padding-left: 30px !important;
}
