/* globally applied */

.fixed-width {
    width: 1020px;
}

.margin-0 {
    margin: 0 !important;
}

.margin-0-center {
    margin: 0 auto !important;
}

nav > .foot-box {
    border-top: 3px solid #df633a;
}

nav > .foot-box > a {
  width: 255px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

header {
  min-width: 1000px;
  width: 100%;
  position: relative;
}

nav > .nav-box {
    width: 612px;
}

nav > .nav-box > a {
  width: 204px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

header > .logo {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

header> .logo > .inline {
    position: relative;
    display: inline-block;
    width: 500px;
}

header > .logo > .inline > div.header {
    position: absolute;
    display: inline-block;
    font-size: 4.0rem !important;
    top: 40%;
}

header > .logo > .inline .prefix {
    left: 0;
}

header > .logo > .inline .suffix {
    right: 0;
}

.bg-1 {
  background-color: #262f36;
}

.bg-2 {
  background-color: #465562;
}

.bg-3 {
  background-color: #87c0de;
}

nav.menu {
    margin: -1px 0 0;
}

.menu a {
    transition: all 0.5s ease-in-out 0s;
}

.menu a > p {
    transition: all 0.1s ease-in-out 0s;
}

.menu a:hover {
    background-color: #df633a;
}

.menu a:hover > p {
    color: #FFFFFF;
}

.metro .calendar .today a {
    background-color: #df633a !important;
    color: #FFFFFF !important;
}

section {
    position: relative;
}

.bottom-shade-large {
    background: url("../img/bottom-shade-large.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    top: 0;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.bg-image-white-light {
    background-image: url("../img/bg-image-white-light.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.bg-pattern-diag {
    background-image: url("../img/bg-pattern-diag.png");
    background-repeat: repeat;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.bg-image-clouds {
  background-color: #D3E9F6;
  background-image: url("../img/bg-image-clouds.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.cursor-pointer {
    cursor: pointer;
}

.separator {
    margin: 20px 0;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 0;
    text-indent: -9000px;
    width: 100%;
}

.separator.dotted {
    background: url("../img/separator-dotted.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 1px;
}

.separator.solid {
    background: none repeat scroll 0 0 #C8C8C8;
    height: 1px;
}

div.customer-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.customer-icon.flight-flat {
   background: url("../img/icons/flight_flat_orange_nor.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

.customer-icon.flight-line {
   background: url("../img/icons/flight_flat_orange_nor.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

.customer-icon.hotel-flat {
   background: url("../img/icons/hotel_flat_orange_nor.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

.customer-icon.hotel-line {
   background: url("../img/icons/hotel_line_orange_nor.png") no-repeat 0 0 rgba(0, 0, 0, 0);
}

header > .account {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

header > .account p,
header > .account a {
    color: #FFFFFF;
}

header > .account p {
    font-size: 14px;
}

header > .account .balloon.bottom {
    position: absolute;
    top: 33px;
    left: -106px;
    border: none;
    padding: 10px;
    height: 80px;
    width: 210px;
    border-radius: 5px;
}

header > .account .balloon.bottom:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    margin: -6px 0;
    left: 109px;
}

header > .account .balloon.bottom:before {
    border: none;
}

header > .account .balloon.bottom p {
    font-size: 15px;
    margin-top: 18px;
}

header > .account .account-info {
    display: inline-block;
    margin-right: 10px;
}

header > .account .contact-info {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.contact-hover {
    cursor: pointer;
}

.signup-form {
    height: 420px;
    width: 395px;
    padding: 20px 50px 50px;
    position: relative;
}

.ladding-img {
    position: relative;
    width: 625px;
    height: 420px;
}

.ladding-img:after {
    content: "";
    background-image: url("../img/bg-image-clouds.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.ladding-img h1 {
    margin: 100px 0 0 100px;
    font-weight: 100;
    position: relative;
    z-index: 1;
}

.signup-form .ribbon {
    padding: 10px 30px;
    /*line-height: 44px;*/
    top: 330px;
    right: 50px;
    position: absolute;
    line-height: 23px;
    border: none;
}

.signup-form .ribbon span {
    font-size: 1.8rem;
}

.signup-form .ribbon span i {
    font-size: 2.0rem;
}

.signup-form .oblique:before {
    border-style: solid;
    content: " ";
    border-color: rgba(0, 0, 0, 0) #AF5576 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0 18px 46px 0;
    left: -18px;
    position: absolute;
    top: 0;
    width: 0;
}

.fg-color-pink {
    color: #AF5576 !important;
}

.bg-color-pink {
    background-color: #AF5576 !important;
}

.signup-form input {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    background: none repeat scroll 0 0 #EAEAEA;
}

.signup-form .input-control {
    margin: 0 0 24px 0 !important;
    height: 42px !important;
    display: block !important;
}

.signup-form label.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-form label.forget-password {
    font-size: 1.45rem;
    font-weight: 600;
    margin-top: 100px;
}

.signup-dialog {
    width: 1020px;
}

.signup-form .invalid {
    color: #e51400;
}