/* globally applied */

.fixed-width {
    width: 1020px;
}

.margin-0 {
    margin: 0 !important;
}

.margin-0-center {
    margin: 0 auto !important;
}

nav > .foot-box > a {
  width: 255px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

header {
  min-width: 1000px;
  width: 100%;
  position: relative;
}

nav > .nav-box > a {
  width: 204px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

header > .logo {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

.bg-1 {
  background-color: #262f36;
}

.bg-2 {
  background-color: #465562;
}

.bg-3 {
  background-color: #87c0de;
}

nav.menu {
    margin: -1px 0 0;
}

.menu a {
    transition: all 0.5s ease-in-out 0s;
}

.menu a > p {
    transition: all 0.1s ease-in-out 0s;
}

.menu a:hover {
    background-color: #CB5977;
}

.menu a:hover > p {
    color: #FFFFFF;
}

.metro .calendar .today a {
    background-color: #CB5977 !important;
    color: #FFFFFF !important;
}

section {
    position: relative;
}

.bottom-shade-large {
    background: url("../img/bottom-shade-large.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    top: 0;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.bg-image-white-light {
    background-image: url("../img/bg-image-white-light.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.bg-pattern-diag {
    background-image: url("../img/bg-pattern-diag.png");
    background-repeat: repeat;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.bg-image-clouds {
  background-color: #D3E9F6;
  background-image: url("../img/bg-image-clouds.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}