{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'flight/styles/app.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'website/styles/fotorama.css' %}" media="screen"/>

{% endblock extracss %}

{% block extraincjs %}
<script src="{% static 'website/scripts/libs/fotorama.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-calendar.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-datepicker.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-scroll.js' %}"></script>
<script src="{% static 'website/scripts/libs/jquery.mousewheel.js' %}"></script>
<script src="{% static 'website/scripts/libs/metro-tab-control.js' %}"></script>
{% endblock extraincjs %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<section class="bg-color-dark bg-pattern-diag">
  <div class="bottom-shade-large"></div>
  <div class="bg-image-white-light">
    <article class="search-info">
        <div class="grid fluid">
          <div class="row">
            <div class="span6 hotel-name">
              <h2 class="fg-white">{{ flight.address }} <small>飞往</small> 马尔代夫<div class="customer-icon flight-line"></div></h2>
              <p class="color-blue">{{ flight.name }}</p>
            </div>
            <div class="span6 price">
              <span class="currency place-right">
                <strong class="fg-white">&yen; {{ flight.get_pretty_price }}</strong>
              </span>
            </div>
          </div>
        </div>
    </article>
  </div>
</section>
<section class="bg-2">
  <article class="photo-group">
    <div class="grid fluid">
      <div class="row">
        <div class="span8">
          <div class="flight-schedule"> </div>
        </div>
        <div class="span4">
          <blockquote>
            <div class="color-blue">{{ flight.summary }}</div>
          </blockquote>
          <div class="scroll-group bg-color-orange">
            <div class="ribbon place-right bg-white oblique">
              <span class="fg-color-orange"><i class="icon-tag on-left-more"></i>小麻袋优势</span>
            </div>
            <div class="scroll-box"
                 data-role="scrollbox"
                 data-scroll="vertical"
                 data-height="215"
                 data-scrollbardisplay="false"
                 data-enablemousewheel="false"
                 data-wheel="30"
                 >
              <ul class="unstyled">{% for item in flight.get_advantages %}
                    <li><p>{{ item }}</p></li>
                {% endfor %}
              </ul>
            </div>
            <div class="action-btn-group">
              <div class="text-center up"><i class="icon-arrow-up-4 fg-color-orange"></i></div>
              <div class="text-center down"><i class="icon-arrow-down-4 fg-color-orange"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock main_content %}

{% block extrajs %}
<script>
  $(document).ready(function () {
    $('.scroll-group .up').click(function() {
      $('.scroll-group .scrollbar-v-up').trigger('click');
    });
    $('.scroll-group .down').click(function() {
      $('.scroll-group .scrollbar-v-down').trigger('click');
    });

    loadArticle($('.frame').first());
    $('.tab-control').tabcontrol().bind("change", function(event, frame){
      loadArticle($(frame));
    });

{#    $('.flight-schedule').load('');#}
  });

  function loadArticle($frame) {
    if (!$frame.html()) {
      url = $frame.data('url');
      $frame.load(url);
    }
  }
</script>
{% endblock extrajs %}