{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'flight/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-1 bg-image-white-light">
  <div class="bottom-shade-large"></div>
  <div class="main-article list-group">
    <div class="grid list">
      <div class="margin-0-center text-center ajax-loader">
        <img src="{% static 'website/img/ajax-loader.gif' %}" />
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      loadList();
    });

    var cursor = Math.round(new Date().getTime() / 1000);
    var onLoad = false;
    var touchEnd = false;

    function loadList() {
      if (touchEnd) {
        return false;
      }
      if (onLoad) {
        return false;
      }
      onLoad = true;
      $('.ajax-loader').show();
      $.getJSON(
        '{% url 'website:flight:flight_list' %}?cursor=' + cursor,
        function(data) {
          if (data.length == 0) {
            touchEnd = true;
          }
          $.each(data, function (index, flight) {
            cursor = flight.updated;
            var content = '' +
              '<div class="row cursor-pointer">' +
              '  <a href="/flight/' + flight.id + '">' +
              '    <div class="span4">' +
              '      <img src="' + flight.img + '" style="width: 320px; height: 205px;"/>' +
              '    </div>' +
              '    <div class="span8" style="position: relative; height: 205px;">' +
              '      <h2 class="fg-grayDark" style="font-size: 28px; margin: 25px 0;">' + flight.name + '</h2>' +
              '      <p class="fg-gray" style="font-size: 17px; line-height: 28px;">' + flight.summary + '</p>' +
              '      <span class="currency">' +
              '        <strong> ' + flight.price + '</strong>' +
              '        <small class="fg-grayDark"></small>' +
              '      </span>' +
              '    </div>' +
              '  </a>' +
              '</div>';
            $('.ajax-loader').before(content);
          });
          $('.ajax-loader').hide();
          setTimeout(function () {
            onLoad = false;
          }, 500);
        }
      );
    }

    function scrollAndLoad() {
      if ($(window).scrollTop() > ($('.grid.list').height() + $('.grid.list').offset().top - $(window).height())) {
        loadList();
      }
    }

    $(window).scroll(function(){
      scrollAndLoad();
    });

    $(function(){
      setTimeout(function(){scrollAndLoad();}, 100);
    })
  </script>
{% endblock extrajs %}