{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} {{ flight.name }} {% endblock title %}


{% block extracss %}
    <link rel="stylesheet" href="{% static 'flight/styles/app.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'website/styles/fotorama.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-color-dark bg-pattern-diag">
    <div class="bottom-shade-large"></div>
    <div class="main-article search-info">
        <div class="bg-image-white-light"></div>
        <div class="grid fluid">
            <div class="row">
                <div class="span6 hotel-name">
                    <h2 class="fg-white">{{ flight.address }} <small>飞往</small> 马尔代夫<div class="customer-icon flight-line"></div></h2>
                    <p class="color-blue">{{ flight.name }}</p>
                </div>
                <div class="span6 price">
      <span class="currency place-right">
        <strong class="fg-white">{{ flight.price }}</strong>
      </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-section bg-image-clouds travel-body">
    <div class="main-article content bg-white">
        <div class="span8 offset1">
          <div class="content-body"></div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.travel-body .content-body').load('{{ flight.content_url }}');
        });
    </script>
{% endblock extrajs %}
