{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} e游 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'tour/styles/app.css' %}" media="screen"/>
{% endblock %}

{% block main_content %}
<div class="col-lg-12 col-sm-12 col-md-12">
  <section class="fixed-width" style="position: relative;">
    <div class="scenery-group">
      <div class="header">
        <div class="nav">
          <p>您当前的位置：<a href="#">攻略游记</a> > 热门景点</p>
        </div>
      </div>
      <div class="scenery-title-group">
        <img src="{% static 'website/img/home_img_4.png' %}">
        <div class="scenery-title">
          <div class="center">
            <h1>马尔代夫攻略</h1>
          </div>
        </div>
      </div>
      <div class="article-group">
        <div class="guide-type-group">
          {% for guide_type in guide_type_list %}
            <div class="guide-type-box" data-url="{% url 'website:tour:latest_article' scenery.id guide_type.id %}">
              <div class="center">
                <img src="{{ guide_type.image_url }}"/>
              </div>
              <div class="center">
                <h1>{{ guide_type.name }}</h1>
                <p>{{ guide_type.summary }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="content-group">
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock main_content %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.guide-type-box').click(function() {
      $('.guide-type-box.active').removeClass('active');
      $(this).addClass('active');
      var url = $(this).data('url');
      $('.content-group').load(url);
    });
    $('.guide-type-box').first().trigger('click');
  });
</script>
{% endblock extrajs %}