{#a simple template works with ModelAwareMixin#}
{% extends 'common/admin/generic.form.inc.html' %}
{% load staticfiles %}

{% block pagecontent_js %}

<script type="text/javascript">
  $(document).ready(function () {
    var $form = $('#{{ form_id }}');

    $('#id_title_image_file', $form).enableAceImageInput(1024, 1024, 0, 0);

    var ue1 = new UE.ui.Editor({initialFrameWidth: 1000, maxImageSideLength: {{ editor_max_image_side_length }} });
    ue1.render('id_content_html');
  });
</script>
{% endblock pagecontent_js %}