{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'knowledge/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-image-clouds" style="background-color: #d3e9f6;">
  <div class="bottom-shade-large"></div>
  <div class="main-article" style="padding: 90px 0;">
    <h2 class="fg-color-orange category-title">麻袋宝典</h2>
    <div class="product-group">
      {% for knowledge in knowledge_list %}
        <a class="product place-left bg-white" href="{% url 'website:knowledge:knowledge_detail' knowledge.id %}">
          <p style="display: inline-block; color: #0896FF; width: 210px; font-size: 22px;">{{ knowledge.title|slice:":10" }}</p>
          <img class="rounded" src="{{ knowledge.image_url }}" style="display: inline-block; width: 80px; height: 80px;"/>
          <p style="font-size: 16px; color: #3f3f3f; width: 210px; height: 140px; overflow: hidden; margin-top: 0px; line-height: 20px; padding: 0 10px; text-indent: 30px;">{{ knowledge.summary }}</p>
          <p style="display: inline-block; width: 210px; font-size: 16px; color: #666666; margin-top: 10px;">{{ knowledge.updated|date:'Y/m/d' }}</p>
          <div class="button large fg-white bg-color-orange">查看</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main_content %}