{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'knowledge/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-image-white-light" style="background-color: #d3e9f6;">
  <div class="bottom-shade-large"></div>
  <div class="main-article" style="padding: 90px 0;">
    <h2 class="fg-color-orange category-title">知识库</h2>
    <div class="product-group">
      {% for knowledge in knowledge_list %}
        <a class="product place-left bg-white" href="{% url 'website:knowledge:knowledge_detail' knowledge.id %}">
          <p style="display: inline-block; color: #0896FF; width: 220px; font-size: 20px;">{{ knowledge.title }}</p>
          <img class="cycle" src="{{ knowledge.image_url }}" style="display: inline-block; width: 50px; height: 50px;"/>
          <p style="font-size: 14px; color: #3f3f3f; height: 180px; overflow: hidden; margin-top: 30px; line-height: 25px; padding: 0 10px;">{{ knowledge.summary }}</p>
          <p style="display: inline-block; width: 225px; font-size: 14px; color: #666666; margin-top: 30px;">{{ knowledge.updated|date:'Y/m/d' }}</p>
          <div class="button small fg-white bg-color-orange">查看</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main_content %}