{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} {{ knowledge.title }} {% endblock title %}


{% block extracss %}
    <link rel="stylesheet" href="{% static 'knowledge/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
  {% include 'website/header.inc.html' %}
  <div class="main-section bg-color-dark bg-pattern-diag travel-header">
    <div class="bottom-shade-large"></div>
    <div class="bg-image-white-light">
      <div class="main-article">
        <h2 class="fg-white title">{{ knowledge.title }}</h2>
      </div>
    </div>
  </div>
  <div class="main-section bg-image-clouds travel-body">
    <div class="main-article">
      <div class="grid fluid">
        <div class="row">
          <div class="span5"><img src="{{ knowledge.image_url }}" alt="" style="max-width: 400px; max-height: 300px;"/></div>
          <div class="span7 bg-white" style="padding: 15px; min-height: 270px;"><div class="content-body"></div></div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.travel-body .content-body').load('{{ knowledge.content_url }}');
    });
  </script>
{% endblock extrajs %}
