{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'package/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<div class="main-section bg-color-dark">
  <div class="bottom-shade-large"></div>
  <div class="main-article search-info">
    <div class="bg-image-white-light"></div>
    <div class="middle">
      <h3 class="text-center color-blue">为您精心推荐以下选择，可点选心仪酒店和机票后，详细咨询！</h3>
    </div>
  </div>
</div>
<div class="main-section bg-image-clouds">
  <div class="main-article">
    <h1 class="fg-grayDark" style="margin-bottom: 45px; font-size: 45px;">酒店推荐</h1>
    <ul class="sorted-list hotel">
      {% for hotel in package.hotels.all %}
        <li>
          <div class="grid">
            <div class="row cursor-pointer">
              <div data-id="{{ hotel.id }}" data-name="{{ hotel.name }}">
                <div class="span4" style="width: 374px !important;">
                  <img src="{{ hotel.image_url }}"/>
                </div>
                <div class="span8" style="width: 580px !important;">
                  <div class="grid fluid">
                    <div class="row">
                      <div class="span8">
                        <a class="main-title fg-grayDark" href="{% url 'website:hotel:hotel_detail' hotel.id %}" target="_blank">{{ hotel.name }}</a>
                        <p class="fg-grayLight" style="font-size: 17px; line-height: 28px;">{{ hotel.summary }}</p>
                        <span class="currency">
                          <strong>{{ hotel.price }}</strong>
                        </span>
                      </div>
                      <div class="span4">
                        <div class="notice bg-white">
                          <h2>推荐理由</h2>
                          <div style="overflow: hidden; height: 165px;">
                            {% for item in hotel.get_advantages %}
                              <p class="fg-grayDark"><span class="icon-checkmark on-left-more"></span>{{ item }}</p>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="main-article">
    <h1 class="fg-grayDark" style="margin-bottom: 45px; font-size: 45px;">机票推荐</h1>
    <ul class="sorted-list flight">
      {% for flight in package.flights.all %}
        <li>
          <div class="grid">
            <div class="row cursor-pointer">
              <div data-id="{{ flight.id }}" data-name="{{ flight.name }}">
                <div class="span4" style="width: 374px !important;">
                  <img src="{{ flight.image_url }}"/>
                </div>
                <div class="span8" style="width: 580px !important;">
                  <a class="main-title fg-grayDark" href="{% url 'website:flight:flight_detail' flight.id %}" target="_blank">{{ flight.name }}</a>
                  <p class="fg-gray" style="font-size: 17px; line-height: 28px; text-indent: 34px;">{{ flight.summary }}</p>
                  <span class="currency">
                    <strong>{{ flight.price }}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <a id="order-btn" class="button large submit" href="#">提交意向</a>
  <div class="space-50"></div>
</div>
{% endblock main_content %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'website/scripts/plugin/jquery-form/jquery-form.min.js' %}"></script>
  <script>
    function getUrlParam(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r!=null) return unescape(r[2]); return null; //返回参数值
    }
    $(document).ready(function() {
      $('.sorted-list.hotel > li > .grid > .row').on('click', function() {
        $('.sorted-list.hotel .selected').removeClass('selected');
        $(this).children('div').addClass('selected');
      });

      $('.sorted-list.flight > li > .grid > .row').on('click', function() {
        $('.sorted-list.flight .selected').removeClass('selected');
        $(this).children('div').addClass('selected');
      });

      $('#order-btn').on('click', function() {
        var price = '';
        var loginUsername = '';
        var loginPhone = '';
        var loginQQ = '';
        var startDate = '{{ start_date }}';
        var startAddress = '{{ start_address }}';
        var packageId = '{{ package.id }}'
        var hotelId = $('.sorted-list.hotel > li > .grid > .row > div.selected').data('id');
        var flightId = $('.sorted-list.flight > li > .grid > .row > div.selected').data('id');
        var hotelName = $('.sorted-list.hotel > li > .grid > .row > div.selected').data('name');
        var flightName = $('.sorted-list.flight > li > .grid > .row > div.selected').data('name');

        if (!hotelId || !flightId) {
          return false;
        }

        {% if user.is_authenticated %}
          loginUsername = '{{ user.name }}';
          loginPhone = '{{ user.phone }}';
          loginQQ = '{{ user.qq }}';
        {% endif %}
        $.Dialog({
          overlay: true,
          shadow: true,
          flat: true,
          width: 1020,
          onShow: function(_dialog) {
            var content = '' +
              '<div class="order-group bg-white">' +
              '  <form id="order_form" action="{% url 'website:order:order_create' %}" method="post">' + "{% csrf_token %}" +
              '    <input id="package_id" name="package_id" type="hidden" value="' + packageId + '">' +
              '    <input id="hotel_id" name="hotel_id" type="hidden" value="' + hotelId + '">' +
              '    <input id="flight_id" name="flight_id" type="hidden" value="' + flightId + '">' +
              '    <input id="id_start_address" name="start_address" type="hidden" value="' + startAddress + '">' +
              '    <input id="id_start_date" name="start_date" type="hidden" value="' + startDate + '">' +
              '    <fieldset>' +
              '      <div class="grid fluid">' +
              '        <div class="row">' +
              '          <div class="span4 offset1">' +
              '            <label class="title" for="">所选组合的参考价格为</label>' +
              '            <label>人民币<strong>'+ getUrlParam("price_range") +'</strong></label>' +
              '            <label>为了节省您的沟通时间敬请确认右侧意向信息生成您专属的流水单号以便同小麻袋咨询预定</label>' +
              '            <label class="normal" for="">心仪酒店：</label>' +
              '            <div class="input-control text" data-role="input-control">' +
              '              <input id="" name="" type="text" value="' + hotelName + '">' +
              '            </div>' +
              '            <label class="normal" for="">心仪机票：</label>' +
              '            <div class="input-control text" data-role="input-control">' +
              '              <input id="" name="" type="text" value="' + flightName + '">' +
              '            </div>' +
              '          </div>' +
              '          <div class="span7 input-group">' +
              '            <div class="grid fluid">' +
                    '<div class="row">'+ '<label class="title" for="">请确认您的联系方式</label>' + '</div>'+
              '              <div class="row">' +
              '                <div class="span5">' +
              '                  <label class="normal" for="">姓名：</label>' +
              '                  <div class="input-control text" data-role="input-control">' +
              '                    <input id="id_customer_name" name="customer_name" type="text" value="' + loginUsername + '">' +
              '                  </div>' +
              '                </div>' +
              '              </div>' +
              '              <div class="row">' +
              '                <div class="span5">' +
              '                  <label class="normal" for="">手机号：</label>' +
              '                  <div class="input-control text" data-role="input-control">' +
              '                    <input id="id_phone" name="phone" type="text" value="' + loginPhone + '">' +
              '                  </div>' +
              '                </div>' +
              '              </div>' +
              '             <div class="row">' +
              '                <div class="span5">' +
              '                  <label class="normal" for="">QQ号：</label>' +
              '                  <div class="input-control text" data-role="input-control">' +
              '                    <input id="id_qq" name="qq" type="text" value="' + loginQQ + '">' +
              '                  </div>' +
              '                </div>' +
              '              </div>' +
              '              <div class="row">' +
              '                <div class="span3">' +
              '                  <label class="normal" for="">出发城市：</label>' +
              '                  <div class="input-control text" data-role="input-control">' +
              '                    <input name="start_address_snapshot" type="text" value="' + startAddress + '" disabled>' +
              '                  </div>' +
              '                </div>' +
              '                <div class="span3">' +
              '                  <label class="normal" for="">入住日期：</label>' +
              '                  <div class="input-control text" data-role="input-control">' +
              '                    <input name="start_date_snapshot" type="text" value="' + startDate.split('-')[0] + '年' + startDate.split('-')[1] + '月' + '" disabled>' +
              '                  </div>' +
              '                </div>' +
              '              </div>' +
              '            </div>' +
              '          </div>' +
              '        </div>' +
              '        <hr class="separator solid">' +
              '        <div class="row">' +
              '          <div class="span2 offset10">' +
              '            <button type="submit" class="button large confirm" onclick="orderSubmit()">确认</button>' +
              '          </div>' +
              '        </div>' +
              '      </div>' +
              '    </fieldset>' +
              '  </form>' +
              '</div>';
            $.Dialog.content(content);
            _dialog.children('.content').attr('style', 'padding: 32px 0 0;');
            $.Metro.initInputs();
          }
        });
      });
    });

    function orderSubmit() {
      var $order_form = $('#order_form');
      var today = new Date();
      $order_form.submit(function() {
        var validator = $order_form.validate();
        $(this).ajaxSubmit({
          success: function(data) {
            if (data && data['ret'] > 0) {
              validator.showErrors(data['errmsg-detail']);
            } else {
              $('#order_form').hide();
              var yyyy = today.getFullYear();
              var mm = (today.getMonth() + 1);
              var dd = today.getDate();
              if (mm < 10) {mm = '0' + mm}
              if (dd < 10) {dd = '0' + dd}
              var success_content = '' +
                '<h2 class="text-center">小麻袋已经了解您的心仪行程，我们将尽快与您沟通!</h2>' +
                '<dl class="horizontal">' +
                '  <dt>流水单号：</dt>' +
                '  <dd>XMD' + yyyy + '' + mm + '' + dd + '' + data['order'].id + '</dd>' +
                '<h2>同样欢迎您的主动咨询！</h2>' +
                '  <dt>电话：</dt>' +
                '  <dd>028-89992896</dd>' +
                '  <dt>企鹅：</dt>' +
                '  <dd>1473655783</dd>' +
                '</dl>';
              $('.order-group').append(success_content);
            }
          }
        });
        $(this).off('submit');
        return false;
      });
    }
  </script>
{% endblock extrajs %}