{% extends 'website/website.base.inc.html' %}
{% load static %}
{% block title %} 小麻袋 {% endblock title %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'present/styles/app.css' %}" media="screen"/>
{% endblock extracss %}

{% block main_content %}
{% include 'website/header.inc.html' %}
<section class="bg-1 bg-image-white-light">
  <div class="bottom-shade-large"></div>
  <article>
    <h2 class="fg-white category-title">小麻袋礼</h2>
    <div class="product-group">
      {% for category in present_category %}
        {% for present in category.presents.all %}
            <a class="product place-left" href="#">
                <img src="{{ present.image_url }}" />
                <div class="product-title">
                    <h4>{{ present.name }}</h4>
                    <h4>{{ present.desc }}</h4>
                    <h4>{{ present.price }}</h4>
                </div>
            </a>
        {% endfor %}
      {% endfor %}
    </div>
  </article>
</section>
{% endblock main_content %}